<div class="seccion2">
    <div class="cabeza">
        <img src="img/logo.jpeg" alt="">
        <div>
            <a href="/home">home</a>
            <a href="/citas">citas</a>
            <a href="/crearCuenta">crear cuenta</a>
            <a href="/contact">contactanos</a>
        </div>
    </div>
    <div class="linea"></div>
    <div class="seccion3">
        <div class="left">
            <p>nombre del dueño</p>
            <input type="text" placeholder="Nombre del dueño">
            <p>fecha</p>
            <input type="date" name="" id="">
            <p>horario</p>
            <input type="time" placeholder="hora">
            <p>telefono celular</p>
            <input type="number" placeholder="telefono">
        </div>
        <div class="right">
            <p>nombre de la mascota</p>
            <input type="text" placeholder="nombre de la mascota">
            <p>animal</p>
            <input type="text" placeholder="canino/felino">
            <p>estado de la mascota</p>
            <input type="text" placeholder="estado de tu mascota">
            <p>raza de la mazcota</p>
            <input type="text" placeholder="raza de la mascota">
            
        </div>
    </div>
    <button class="crearCita">CREAR CITA</button>
</div>