.cabeza {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(113, 199, 218);
}

.cabeza>div>a {
    border: none;
    background: none;
    color: white;
    margin-left: 5px;
}

.cabeza>img {
    width: 70px;
    border-radius: 100%;
}

.linea {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1px;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
  }
.card{
    width: 40%;
    background-color: white;
    border-radius: 10px;
    margin: 2em;
}
.cabezaCard{
    background-color: rgb(88, 132, 220);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    display: flex;
    height: 6em;
    /* justify-content: space-between; */
}
.containerUsernameYphoto{
    display: flex;
}
.containerUsernameYphoto>img{
    /* width: 20%; */
    height:100%;
    border-radius: 100%;
}
.bodyCard{
    display: flex;
}
.bodyCard>p{
    margin: 4px;
    color: rgb(88, 132, 220);
}
.footerCard{
color: rgb(88, 132, 220);
}
