<div class="cabeza">
    <img src="img/logo.jpeg" alt="">
    <div>
        <a href="/home">home</a>
        <a href="/citas">citas</a>
        <a href="/crearCuenta">crear cuenta</a>
        <a href="/contact">contactanos</a>
    </div>
</div>
<div class="linea"></div>
<div class="cuerpo">
    <div class="formCrearCuenta">
        <div class="left">
            <input type="text" placeholder="username">
            <input type="email" placeholder="correo">
            <input type="password" placeholder="contraseña">
            <input type="text" placeholder="nombre de tu mascota">
        </div>
        <div class="right">
            <p>foto de perfil</p>
            <p>puedes seleccionar la foto de tu mascota</p>
            <input type="file">
        </div>
    </div>
    <button class="crearCuenta">Crear cuenta</button>
</div>