.login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(37, 50, 119);
}
.login>img{
    width: 20%;
    border-radius: 100%;
}
.login>input{
    font-size: 26px;
    border: none;
    /* margin: 5%; */
    border-radius: 15px;
}


.login>button{
    border: none;
    background-color: rgb(84, 134, 200);
    border-radius: 20px;
    color:white;
    font-size: 30px;
    margin: 5%;
}