<div class="cabeza">
    <img src="img/logo.jpeg" alt="">
    <div>
        <a href="/">home</a>
        <a href="/citas">citas</a>
        <a href="/crearCuenta">crear cuenta</a>
        <a href="/login">iniciar sesion</a>
        <a href="/contact">contactanos</a>
    </div>
</div>
<div class="linea"></div>
<div class="cuerpo">
    <div class="left">
        <img src="img/perfil.jpeg" alt="">
        <h1>DRA.Celeste Beltrán</h1>
        <h4>Medico cirujano en veterinaria y</h4>
        <h4>zootecnia</h4>
    </div>
    <div class="right">
        <h1>Contacto</h1>
        <h2>Direccion</h2>
        <h4>Col, xareni #426, Rivera Maya, 29020

            Tuxtla Gutiérrez, Chiapas.</h4>
            <h2>Numero</h2>
            <h4>(+52) 961 304 31 60</h4>
            <h2>Correo electronico</h2>
            <h4>cebemillerveterinariamx.com</h4>
    </div>
</div>