<div class="cabeza">
    <img src="img/logo.jpeg" alt="">
    <div>
        <a href="/">home</a>
        <a href="/citas">citas</a>
        <a href="/crearCuenta">crear cuenta</a>
        <a href="/login">iniciar sesion</a>
        <a href="/contact">contactanos</a>
    </div>
</div>
<div class="linea"></div>
<div class="cuerpo">

    <div class="banner">
        <h1>Veterinaria MILLER</h1>
        <h3>"Cuidamos con amor quien más amas."</h3>
        <div class="imgBanner">

        </div>
    </div>
    <div class="seccion2">
        <div>
            <h5>Clinica veterinaria24hrs. <br /> Realiza tu cita, contamos <br />con consulta general,<br /> vacunacion,
                desparacitacion,<br />estetica canina y mas.</h5>
            <img src="img/logo.jpeg" alt="">
        </div>
        <!-- ----------------------------------- -->
        
       
    </div>


</div>